<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <img class="my-4" style="height: 10em" src="{{ asset('img/warning.svg') }}" alt="Access denied">
            <div class="card mb-5">
                <h2 class="text-uppercase font-weight-light py-2">Code : 304 - accès non autorisé.</h2>
                <a class="btn btn-warning font-weight-light rounded-0" href="/">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>