<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}Velma{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="bg-white">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- LOGO BUTTON -->
            <a class="navbar-brand p-0" href="/"><img style="height: 2.1em" src="{{ asset('img/velma_logo.png') }}" alt="Velma"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <!-- LEFT BUTTONS -->
                <ul class="navbar-nav mr-auto">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item">
                            <span class="nav-link font-weight-light text-muted">{{'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </span>
                        </li>
                    {% endif %}
                </ul>

                <!-- RIGHT BUTTONS -->
                <ul class="navbar-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item pr-3">
                            <a class="btn nav-link bg-primary text-white font-weight-bold rounded" href="/article/new">
                                <i class="far fa-plus-square"></i> Ajouter un vélo
                            </a>
                        </li>
                        <li class="nav-item pl-3">
                            <a class="btn nav-link bg-light text-dark rounded" href="/profile">
                                <i class="fas fa-user-circle"></i> Mon profil
                            </a>
                        </li>
                        <li class="nav-item pl-3">
                            <a class="btn nav-link bg-light text-dark rounded" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item pl-3">
                            <a class="btn nav-link bg-light text-dark rounded" href="{{ path('fos_user_security_login') }}">
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li class="nav-item pl-3">
                            <a class="btn nav-link bg-light text-dark rounded" href="/register">
                                Inscription
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>


        {% block body %}{% endblock %}

        <footer class="footer text-white mt-4">
            <div class="container py-4">
                <div class="row">
                    <div class="col-sm">
                        <h4>Liens utiles</h4>
                        <p class="d-sm-inline pr-2" ><a href="https://bitbucket.org/walensis/velma">Bitbucket</a></p>
                        <p class="d-sm-inline px-2" ><a href="#">Twitter</a></p>
                        <p class="d-sm-inline pl-2" ><a href="{{ path('contact') }}">Contact</a></p>
                    </div>
                    <div class="col-sm">
                        <h4>About</h4>
                        <p>Ce site web est le fruit d'un projet universitaire développé par Hamza EL MEKNASSI et Soufiane BENNANI pour le module de Licence 3 «Développement Web 2» <a href="http://pageperso.lif.univ-mrs.fr/~luigi.santocanale/teaching/DW/"><i class="fas fa-external-link-alt"></i></a> encadré par Augustin OGIER.</p>
                        <h4>Remerciements</h4>
                        <p>Augistin OGIER <a href="mailto:augustin.OGIER@univ-amu.fr"><i class="far fa-envelope"></i></a> — Luigi SANTOCANALE
                            <a href="http://pageperso.lis-lab.fr/~luigi.santocanale/"><i class="fas fa-external-link-alt"></i></a>.</p>
                    </div>
                </div>
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>

</html>
