{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h2>Nous contacter</h2>
                    <h5 class="font-weight-light">N'hésitez pas à nous contacter pour des remarques ou suggestions suivant ce formulaire.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mx-auto my-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulaire</h5>
                        <p class="card-text">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(form.fullname, {attr: {placeholder: 'John Doe'} }) }}
                                        {{ form_row(form.email, {attr: {placeholder: 'example@domaine.com'} }) }}
                                        {{ form_row(form.subject) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(form.message, {attr: {rows: '8', cols: '25', placeholder: 'Rédigez votre message ...'} }) }}
                                    </div>
                                    <div class="col-md-12 text-right">
                                        {{ form_row(form.save, {attr: {class: 'btn-primary text-right'} }) }}
                                    </div>
                                </div>
                            {{ form_start(form) }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <form>
                    <legend>Nos locaux</legend>
                    <address>
                        <i class="fas fa-map-marker"></i><strong> Aix-Marseille Université</strong><br>
                        Faculté des Sciences<br>
                        3 place Victor Hugo - Case G<br>
                        13331 Marseille Cedex 3<br>
                        <abbr title="Phone"><i class="fas fa-phone"></i></abbr>
                        (+33) 1 23 65 49 87
                    </address>
                    <address>
                        <strong>Velma Support</strong><br>
                        <i class="fas fa-envelope"></i><a href="mailto:#"> contact@velma.fr</a>
                    </address>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
