{% extends 'base.html.twig' %}

{####################}
{# START OF THEMING #}
{####################}

{% form_theme form _self %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    {% if type != 'hidden' %} {# if we want to render an input which can only be the searchbox #}
        <div class="input-group input-group-lg mt-4">
            <div class="input-group-prepend">
                <span class="input-group-text bg-primary text-white" id="searchspan"><i class="fas fa-search fa-2x"></i></span>
            </div>
            <input id="searchbox" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control bg-primary text-white" placeholder="Rechercher ..." autocomplete="off">
        </div>
    {% else %} {# if not, show the built-in input element of Symfony #}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{%- endblock form_widget_simple %}

{##################}
{# END OF THEMING #}
{##################}

{% block body %}
    <div class="jumbotron jumbotron-sm text-white" style="border-radius: 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    {{ form_start(form, {action: path('search'), attr: {autocomplete: 'off'} }) }}
                    {{ form_widget(form.search) }}
                    {{ form_end(form) }}
                </div>

                <div class="col-12 col-md-5">
                    <h5 id="headline" class="font-weight-light text-justify">Aidez des personnes à retrouver leur matériel volé ou perdu dans votre région ou ajoutez vous-même vos vélos sur notre plateforme pour les déclarer comme volés ou simplement les répertorier.</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="row rounded">
            <!-- MAIN COLUMN (FEED) -->
            <div class="col-12 col-md-9">
                <div class="list-group">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <form action="{{ path('create_article') }}">
                            <div class="list-group-item list-group-item-action flex-column align-items-start my-1 bg-light">
                                <div class="input-group my-2">
                                    <input type="text" name="title" class="form-control" placeholder="Titre de votre nouvel article...">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit"><i class="far fa-plus-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}

                    {% if not articles %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <p class="text-center" style="font-size: 4em"><i class="fas fa-exclamation-circle"></i></p>
                        <p class="font-weight-light text-muted text-center mb-3">Il n'y a rien à afficher ici. 😞<br>
                        Vous pouvez aussi nous <a href="{{ path('contact') }}">contacter</a> pour nous signaler un incident.</p>
                    </div>
                    {% else %}
                        {% for article in articles %}
                            <div class="list-group-item list-group-item-action flex-column align-items-start rounded my-1">
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4">
                                        <img class="rounded" style="max-width: 100%" src="{{ asset('usr/img/' ~ article.visual) }}" alt="Card image cap">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <a class="clearfix w-100 text-secondary" href="{{ path('view_article', {'id': article.id}) }}">
                                            <!-- Titre article -->
                                            <span class="float-left d-inline"><h4>{{ article.title }}</h4></span>
                                            <!-- Date article -->
                                            <span class="badge badge-light float-right d-inline"><i class="far fa-clock"></i> {{ article.interval }}</span>
                                        </a>
                                        <!-- Description article -->
                                        <p class="" style="max-lines: 6">{{ article.description }}</p>
                                    </div>
                                </div>
                                <small class="text-muted float-left"><i class="fas fa-low-vision text-danger"></i> Volé le {{ article.robbedAt|date('d/m/y') }}</small>
                                <small class="text-muted float-right px-2"><i class="fas fa-plus-circle text-success"></i> Ajouté le {{ article.createdAt|date('d/m/y') }} par <a href="">{{ article.owner }}</a></small>
                            </div>
                        {% endfor %}

                        <!-- REDIRECT TO TOP -->
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <p class="font-weight-light text-muted text-center my-3">Remonter en haut <i class="fas fa-level-up-alt"></i></p>
                        </a>
                    {% endif %}



                </div>
            </div>

            <!-- RIGHT COLUMN (SORTING) -->
            <div class="col-12 col-md-3 my-1">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-filter"></i> Filtres
                    </div>
                    <div class="card-body clearfix" data-toggle="tooltip" data-placement="right" title="Non implémenté">
                        <div class="float-left">
                            <a href="#">Marque</a><br>
                            <a href="#">Type de vélo</a>
                        </div>

                        <div class="float-right">
                            <a href="#">Modèle</a><br>
                            <a href="#">Utilisateur</a>
                        </div>
                    </div>
                    <div class="card-header">
                        <i class="fas fa-sort-amount-up"></i> Tri
                    </div>
                    <div class="card-body clearfix">
                        <div class="float-left">
                            {% if sort == 'alpha' %}
                                <span>Alphabétique</span><br>
                            {% else %}
                                <a href="{{ path('homepage', {'sort': 'alpha'}) }}">Alphabétique</a><br>
                            {% endif %}
                        </div>
                        <div class="float-right">
                            {% if sort == 'chrono' %}
                                <span>Chronologique</span><br>
                            {% else %}
                                <a href="{{ path('homepage', {'sort': 'chrono'}) }}">Chronologique</a><br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}