{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container py-5">
        <div class="row m-auto">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
