{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container my-5">
        <div class="row py-5">
            <div class="col-12 col-md-8 mx-auto my-5 text-center">
                <div class="card mb-5">
                    <h4 class="text-uppercase font-weight-light py-2">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                    <a class="btn btn-warning font-weight-light rounded-0" href="/">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
