{% trans_default_domain 'FOSUserBundle' %}

<div class="jumbotron jumbotron-sm bg-primary text-white" style="border-radius: 0;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h3>Créer un nouveau compte</h3>
            </div>

            <div class="col-12 col-md-5">
                <h5 id="headline" class="font-weight-light text-justify">Créez un compte sur Velma dès aujourd'hui pour ajouter vous aussi votre matériel et le retrouver en cas de perte ou de vol. C'est gratuit !</h5>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 pt-3">
    <div class="row m-auto">
        <div class="col-12 col-md-7 mx-auto" >
            <div class="card px-5 py-3 bg-light">
                <div class="card-body bg-light rounded px-4 pt-4">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-id-card"></i></span>
                        </div>
                        {{ form_widget(form.firstName, {attr: {placeholder: 'Prénom'}}) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-id-card"></i></span>
                        </div>
                        {{ form_widget(form.lastName, {attr: {placeholder: 'Nom'}}) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form_widget(form.username, {attr: {placeholder: 'form.username'|trans} }) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ form_widget(form.email, {attr: {placeholder: 'form.email'|trans} }) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'form.password'|trans} }) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'form.password_confirmation'|trans} }) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-birthday-cake"></i></span>
                        </div>
                        {{ form_widget(form.birthYear, {attr: {placeholder: 'Année de naissance'} }) }}
                    </div>
                    <p class="font-weight-light text-right" style="font-size: smaller"><i class="fas fa-info-circle"></i> En créant un compte, vous acceptez les <a href="#">Conditions d’Utilisation</a>, la <a href="#">Politique de confidentialité</a> ainsi que la <a href="#">Politique relative aux cookies</a> de Velma.</p>

                    <br><br>

                    <div class="clearfix">
                        <input class="btn btn-secondary float-left" type="submit" value="{{ 'registration.submit'|trans }}" />
                        <div class="float-right">
                            <span class="small" href="/">J'ai déjà un compte</span><br>
                            <a href="/login"> <i class="fas fa-sign-in-alt"></i> Se connecter</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


