{% trans_default_domain 'FOSUserBundle' %}

<div class="jumbotron jumbotron-sm bg-primary text-white" style="border-radius: 0;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h3>Mon profile</h3>
            </div>

            <div class="col-12 col-md-5">
                <h5 id="headline" class="font-weight-light text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at leo vel orci fringilla eleifend. Phasellus odio mauris, egestas sed dictum ut, ornare a tortor.</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <!-- LEFT COLUMN (USER)  -->
        <div class="col-12 col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1623bb32c53%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1623bb32c53%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.125%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ app.user.username }}</a></h5>
                    <p class="card-text font-italic" data-toggle="tooltip" data-placement="left" title="Non implémenté">Une longue biographie de l'utilisateur pour parler de lui et décrire sa personnalité s'il le souhaite. C'était un monsieur de la montagne.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dernière connexion le {{ app.user.lastlogin|date('d-m-Y') }}</li>
                    <li class="list-group-item">Possède {{ app.user.ownedbikes|length }} vélos</li>
                    <li class="list-group-item font-italic">Une autre info</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" data-toggle="tooltip" data-placement="bottom" title="Non implémenté">Mon profil</a>
                </div>
            </div>
        </div>
        <!-- MAIN COLUMN (FEED) -->


        <div class="col-12 col-md-9 ">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Mes informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/profile/change-password">Changer mon mot de passe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Non implémenté">Mes vélos</a>
                </li>

            </ul>
            <div class="bg-white border border-top-0 p-4">

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div class="clearfix">
                    <button class="btn btn-primary float-right" type="submit">{{ 'change_password.submit'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
</div>




