{% extends "::base.html.twig" %}

{####################}
{# START OF THEMING #}
{####################}

{#{% form_theme form _self %}#}

{#{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' custom-control-input')|trim}) -%}
    <div class="custom-control custom-checkbox{{ 'checkbox-inline' in parent_label_class ? ' custom-control-inline' }}">
        {#{- form_label(form, null, { widget: parent() }) -}
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        {#<label class="custom-control-label" for="customCheck1">{{ form_label(form, null, { widget: parent() }) }}</label>#}
    {#</div>#}

{#{%- endblock checkbox_widget %}#}

{##################}
{# END OF THEMING #}
{##################}

{% block title %}AppBundle:Article:edit{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row m-auto">
            <!-- SPACER
            <div class="d-none d-md-block col-md-2"></div>-->

            <!-- BIKE EDITION FORM -->
            <div class="col-xs-12 col-md-12">
                {{ form_start(form) }}
                <div class="card">
                    <h5 class="card-header"><span>{{ form_widget(form.title) }}</span></h5>
                    <div class="card-body">
                        <h5 class="text-uppercase">Image</h5>
                        <div class="row">
                            <div class="col-12 align-bottom">
                                {{ form_row(form.visual, {attr: {class: 'pt-2'} }) }}
                                <p class="font-weight-light" style="font-size: smaller"><i class="fas fa-info-circle"></i> Formats acceptés : .jpeg, .png, .gif.</p>
                            </div>
                        </div>
                        <hr>
                        <h5 class="text-uppercase">Informations</h5>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <span>{{ form_row(form.brand)}}</span>
                                <span>{{ form_row(form.model) }}</span>
                                <span>{{ form_row(form.type) }}</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span>{{ form_row(form.boughtAt) }}</span>
                                <span>{{ form_widget(form.isRobbed, {attr: {class: 'checkbox-custom'} }) }}</span>
                                <span>{{ form_row(form.robbedAt) }}</span>
                                <span>{{ form_row(form.robbedLocation) }}</span>
                            </div>
                        </div>
                        <p class="card-text">{{ form_row(form.description) }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            {{ form_widget(form.save, {attr: {class: 'btn-success'}}) }}
                        </li>
                    </ul>
                </div>
                {{ form_end(form) }}
            </div>

            <!-- SPACER
            <div class="d-none d-md-block col-md-2"></div>-->
        </div>

    </div>
{% endblock %}