{% extends "::base.html.twig" %}

{% block title %}AppBundle:Article:edit{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row m-auto">

            <!-- BIKE EDITION FORM -->
            <div class="col-12">
                <div class="card">
                    {{ form_start(form) }}
                    <h5 class="card-header clearfix"><span class="float-left">{{ form_widget(form.title) }}</span><span class="badge badge-danger float-right">Volé</span></h5>

                    <div class="card-body">
                        <h5 class="text-uppercase">Image</h5>
                        <img class="card-img-top" src="{{ asset('usr/img/' ~ art_visual) }}" alt="Card image cap">
                        {{ form_row(form.visual, {attr:{ class: 'pt-2'}}) }}

                        <h5 class="text-uppercase">Informations</h5>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <span>{{ form_row(form.brand) }}</span>
                                <span>{{ form_row(form.model) }}</span>
                                <span>{{ form_row(form.type) }}</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span>{{ form_row(form.boughtAt) }}</span>
                                <span>{{ form_widget(form.isRobbed, {attr: {class: 'checkbox-custom'} }) }}</span>
                                <span>{{ form_row(form.robbedAt) }}</span>
                                <span>{{ form_row(form.robbedLocation) }}</span>
                            </div>
                        </div>

                        <p class="card-text">{{ form_row(form.description) }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            {{ form_widget(form.save, {attr: {class: 'btn-success'}}) }}
                        </li>
                    </ul>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>
{% endblock %}
