{% extends "::base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}AppBundle:Article:found{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row m-auto">
            <!-- MESSAGE CONTENT -->
            <div class="col-12 col-md-6">
                <div class="card">
                    <h5 class="card-header clearfix">
                        <span class="float-left">Envoyer un message</span>
                    </h5>
                    {{ form_start(form) }}
                    <div class="card-body">
                        <div class="py-2">
                            <h5>En-tête</h5>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <span class="">{{ form_row(form.fullname) }}</span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <span class="">{{ form_row(form.email) }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span class="">{{ form_row(form.subject) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="py-2">
                            <h5>Corps</h5>
                            <p class="card-text">
                                <span class="">{{ form_row(form.message) }}</span>
                                <p class="font-weight-light text-right" style="font-size: smaller"><i class="fas fa-info-circle"></i> Les messages que vous envoyez sont susceptibles d'être stockés pour des raisons de sécurité.</p>
                            </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" data-toggle="tooltip" data-placement="bottom" title="Non implémenté">
                            {{ form_widget(form.save, {attr: {class: 'btn-success mx-1'} }) }}
                        </li>
                    </ul>
                    {{ form_end(form) }}
                </div>
            </div>

            <!-- BIKE CONTENT -->
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header clearfix">
                        <span class="float-left">Récapitulatif du matériel</span>
                    </h5>

                    <div class="card-body">
                        <h4>
                            {{ article.title }}
                            {% if article.robbedAt is not null %}
                                {% if article.foundAt is not null %}
                                    <span class="badge badge-success float-right">Retrouvé</span>
                                {% else %}
                                    <span class="badge badge-danger float-right">Volé</span>
                                {% endif %}
                            {% endif %}
                        </h4>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <img class="rounded img-fluid" src="{{ asset('usr/img/' ~ article.visual) }}" alt="Card image cap">
                            </div>
                            <div class="col-12 col-md-4">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Marque :</th>
                                        <td>{{ article.brand }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Modèle :</th>
                                        <td>{{ article.model }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Type :</th>
                                        <td>{{ article.type }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-4">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Acheté le :</th>
                                        <td>{{ article.boughtAt|date('d-m-Y')  }}</td>
                                    </tr>
                                    {% if article.robbedAt is not null %}
                                        <tr>
                                            <th scope="row">Déclaré volé le :</th>
                                            <td>{{ article.robbedAt|date('d-m-Y')  }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <h5 class="mt-3">Description</h5>
                        <p class="card-text font-italic">
                            {{ article.description }}
                        </p>
                    </div>
                </div>
                <!-- USER PROFILE CONTENT -->
                <div class="card text-center">
                    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1623bb32c53%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1623bb32c53%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.125%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ article.owner.username }}</a></h5>
                        <p class="card-text font-italic" data-toggle="tooltip" data-placement="left" title="Non implémenté">Une longue biographie de l'utilisateur pour parler de lui et décrire sa personnalité s'il le souhaite. C'était un monsieur de la montagne.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dernière connexion le {{ article.owner.lastlogin|date('d-m-Y') }}</li>
                        <li class="list-group-item">Possède {{ article.owner.ownedbikes|length }} vélos</li>
                        <li class="list-group-item font-italic">Une autre info</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link" data-toggle="tooltip" data-placement="bottom" title="Non implémenté">Mon profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}