html {
    position: relative;
    min-height: 100% !important;
}

body {
    background-image: url("/img/pattern3.png");
    background-attachment: fixed;
    background-origin: border-box;
    background-repeat: repeat;
    background-size: 20%;
}

body > .container > .row {
    background-color: rgba(233, 236, 239, 0.9);
}

#searchbox {
    border: 0;
}

#searchbox::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: whitesmoke;
    font-size: x-large;
}

#searchbox::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: whitesmoke;
    opacity: 1;
    font-size: x-large;
}

#searchbox:-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
    font-size: x-large;
}

#searchspan {
    border: 0;
}

div.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36d1dc+0,5b86e5+100 */
    background: #36d1dc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #36d1dc 0%, #5b86e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #36d1dc 0%,#5b86e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #36d1dc 0%,#5b86e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36d1dc', endColorstr='#5b86e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer.footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32383d+0,08131e+100 */
    background: #32383d; /* Old browsers */
    background: -moz-linear-gradient(top, #32383d 0%, #08131e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #32383d 0%,#08131e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #32383d 0%,#08131e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32383d', endColorstr='#08131e',GradientType=0 ); /* IE6-9 */
}
