{% trans_default_domain 'FOSUserBundle' %}

<div class="jumbotron jumbotron-sm bg-primary text-white" style="border-radius: 0;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h3>Se connecter</h3>
            </div>

            <div class="col-12 col-md-5">
                <h5 id="headline" class="font-weight-light text-justify">Connectez-vous et accédez à toutes les fonctionnalités de la plateforme.</h5>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 pt-3">
    <div class="row m-auto" >
        <div class="col-12 col-md-7 mx-auto">
            <div class="card px-5 py-3 bg-light">
                <div class="card-body bg-light rounded px-5 pt-4">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="username"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{{ 'security.login.username'|trans }}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" for="password"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{{ 'security.login.password'|trans }}">
                        </div>
                        <div class="custom-control custom-checkbox pb-3">
                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on">
                            <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="clearfix">
                            <input class="btn btn-secondary float-left" id="_submit" name="_submit" type="submit" value="{{ 'security.login.submit'|trans }}" />
                            <div class="float-right">
                                <span class="small" href="/"><a href="/resetting/request">Mot de passe oublié ?</a></span><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>