{% extends 'base.html.twig' %}

    {% block body %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% endblock %}

    {% block stylesheets %}

    {% endblock %}
