{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container py-5">
        <div class="row p-2" >
            <div class="col-12 col-md-6 mx-auto py-1 px-1 rounded">
                <div class="card">
                    <div class="card-header text-center bg-info">
                        <h4 class="font-weight-light text-uppercase text-white">Récupération du mot de passe</h4>
                    </div>
                    <div class="card-body bg-light rounded px-5">
                        <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
