{% trans_default_domain 'FOSUserBundle' %}

<div class="container py-5">
    <div class="row p-4">
        <div class="col-12 col-md-6 mx-auto py-1 px-1 rounded">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h4 class="font-weight-light text-uppercase text-white">Récupération du mot de passe</h4>
                </div>
                <div class="card-body bg-light rounded px-5">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default" for="username"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" name="username" required="required"  aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{{ 'resetting.request.username'|trans }}"">
                            </div>
                        </div>
                        <div class="float-right">
                            <button type="submit" class="btn btn-secondary">{{ 'resetting.request.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>