{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ include('/access_denied_content.html.twig') }}
    {% else %}
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    {% endif %}
{% endblock fos_user_content %}
