{% trans_default_domain 'FOSUserBundle' %}

<div class="container py-5">
    <div class="row p-2" >
        <div class="col-12 col-md-6 mx-auto py-1 px-1 rounded">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h4 class="font-weight-light text-uppercase text-white">Saisir le nouveau mot de passe</h4>
                </div>
                <div class="card-body bg-light rounded px-5">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    {{ form_widget(form) }}
                    <div class="float-right">
                        <button type="submit" class="btn btn-secondary">{{ 'resetting.reset.submit'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>